/*Fontes*/
html {
    scroll-behavior: smooth;
}

.dm-mono-light {
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: normal;
}

.dm-mono-regular {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.dm-mono-medium {
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
}

.dm-mono-light-italic {
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: italic;
}

.dm-mono-regular-italic {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.dm-mono-medium-italic {
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: italic;
}

.comfortaa-font {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*-----Semantica-----*/
body {
    background-image: url(../img/fundosite.png);
}

header {
    background-color: #ffffff;
    padding: 3%;
    padding-bottom: 0%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; /*deixar header sobre os outros (no caso os abaixo de 100) */
    box-sizing: border-box;
}

nav {
    background-color: #ffffff;
}

main {
    background-color: #e6e6e6;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6rem;
    padding-bottom: 2rem;
}

footer {
    background-color: #261a0d;
    color: #ffffff;
    padding: 3%;
}

/*-----Tags------*/
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    line-height: 1.5;
    font-size: 1.16rem;
    margin: 0 0.75rem;
}

h1 {
    clear: both;
    font-size: 2rem;
    line-height: 3;
    text-align: center;
    font-weight: bold;
}

h2 {
    clear: both;
    font-size: 1.5rem;
    margin-top: 3rem;
    line-height: 3;
    text-align: center;
    font-weight: bold;
}

h3 {
    clear: both;
    font-size: 1.35rem;
    font-weight: 550;
    line-height: 3;
    text-align: center;
}

p {
    margin: 1rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

table {
    width: 80%;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    line-height: 1.5;
    border: 3px dotted #737373;
    border-radius: 10px;
}

td {
    padding-left: 0.5rem;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

a:link {
    color: #00a3cc;
    background-color: transparent;
}
  
a:visited {
   color: #00a3cc;
   background-color: transparent;
}
  
a:hover {
   color: #bf80ff;
   background-color: transparent;
   text-decoration: underline;
}
  
a:active {
   color: inherit;
   background-color: transparent;
   border-radius: 4px;
}

/*links das referencia*/
a.referencia:link {
    color: #000000;
    background-color: transparent;
}

a.referencia:visited {
    color: #000000;
    background-color: transparent;
 }

a.referencia:hover {
    color: #bf80ff;
    background-color: transparent;
    text-decoration: underline;
 }
   
 a.referencia:active {
    color: inherit;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 4px;
 }
/*-----------------*/

/* links do menu */
a.linkmenu:link {
    color: inherit;
    background-color: transparent;
}
  
a.linkmenu:visited {
   color: inherit;
   background-color: transparent;
}

a.linkmenu:hover {
   color: inherit;
   background-color: #f2f2f2;
   text-decoration: none;
   border-radius: 0.37rem 0.37rem 0 0;
}
  
a.linkmenu:active {
   color: inherit;
   background-color: transparent;
   border-radius: 0px;
}
/*-----------------*/
/*-----Classes-----*/

/*----Divisão Tela----*/
/* For Desktop */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/*--------------------*/

.menu-icon {
    display: none;
    font-size: 2.1rem;
    color: white;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

.linkmenu {
    color: black;
    text-decoration: none;
    padding: 0.25rem 0.25rem;
    display: block;
}

.logo-icon {
    height: auto;
    width: 5rem;
}

.anchor {
    padding-top: calc(5.1rem + 3vw);
    margin-top: calc(-5.1rem - 3vw);
}

.linha {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.centerimggaleria {
    justify-content: center;
}

.imggaleria {
    width: 90%;
    margin-right: 1%;
    margin-left: 1%;
}

.divimggaleria {
    display: flex;
    justify-content: center;
}

.legendaimg {
    font-size: 1rem;
    text-align: center;
}

.imgdarwin-guia-mochileiro {
    max-width: 100%;
    width: 168px;
    margin: 1rem;
    border-radius: 0.5rem;
    float: right;
}

.imgarthurdent {
    max-width: 100%;
    width: 250px;
    margin: 1rem;
    border-radius: 0.5rem;
    float: left;
}

.container-float {
    display: table;
}

.container .img-personagens {
    width: 100%;
    height: auto;
}

.container {
    position: relative;
    width: 100%;
}

.text-absolute.esquerdacima {
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: left;
    font-size: 8vw;
    color: #ffffff;
}

.text-absolute.center {
    position: absolute;
    top: calc(50% - 0.5em);
    width: 100%;
    text-align: center;
    font-size: 12vw;
    color: #ffffff;
}

.text-absolute.direitabaixo {
    position: absolute;
    bottom: 0%;
    right: 5vw;
    width: 100%;
    text-align: right;
    font-size: 5.5vw;
    color: #800000;
    -webkit-text-stroke: rgb(179, 123, 67) 0.21vw;
}

.galeria {
    margin-top: 3rem;
}

.div-div_box {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.galeria p {
    font-size: 1rem;
    margin: 2rem;
    text-align: justify;
}

.icone-galeria_mochileiros {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.icone-toalha-galeria_mochileiros{
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}

.icone-sanguessuga-galeria_mochileiros{
    width: 28%;
    margin-left: auto;
    margin-right: auto;
}

.icone-folha-galeria_mochileiros {
    width: 28%;
    margin-left: auto;
    margin-right: auto;
}

.icone-galeria_mochileiros img {
    width: 100%;
}

.div_box-galeria_mochileiros {
    background-color: #cccccc;
    display: block;
    width: 90%;
    height: 100%;
    border-radius: 2rem;
}

.formulario {
    margin-top: 3rem;
}

.div-form {
    border-radius: 0.7rem;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 1rem;
}

input[type=text], select {
    width: 70%;
    padding: 0.875rem 1.25rem;
    margin: 0.5rem 0;
    display: block;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
  }
  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 0.875rem 1.25rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    [class*="col-"] {
      width: 50%;
    }

    header {
        align-items: center;
    }

    .menu-icon {
        display: block;
        padding-right: 10px;
        color: #000000;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #f2f2f2;
        position: absolute;
        top: 4.5rem;
        left: 0;
        z-index: 1;
        padding: 0;
    }

    #menu-toggle:checked + .menu-icon + ul {
        display: flex;
    }

    nav ul li {
        text-align: center;
        margin: 0;
    }

    nav ul li a {
        padding: 1.12rem 0;
    }

    nav ul li label {
        display: block;
    }

    a.linkmenu:hover {
        background-color: #ffffff;
        border-radius: 00.37rem;
     }
  }
  
@media only screen and (max-width: 480px) {
    [class*="col-"] {
    width: 100%;
    }
}