/*MUDAR CORES!!!!*/

body {
    background-color: #ffcc99;
}

header {
    background-color: #ffcc99;
}

/* Classe Atribuida para a div que vai receber o logotipo */
.logo {
    background-color: #ffcc99;
}

nav {
    background-color: #ffcc99;
}

main {
    background-color: #ffcc99;
}

section {
    background-color: #ffcc99;
}

footer {
    background-color: #ffcc99;
}